body
{
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: teal;
    background-color: ghostwhite;
}
.Header_div p
{
    font-family: 'Comic Neue', cursive;
    color: grey;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
}
.Main_div button
{
    font-family: 'Comic Neue', cursive;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 2px;
}
.copy_right_footer
{
    position: fixed;
    color: black;
    bottom: 0px;
    width: 100%;
    font-size: 18px;
    background-color: floralwhite;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
}